@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Press+Start+2P&display=swap');
@import "tailwindcss";

@theme{
  --font-press: "Press Start 2P", system-ui;
  --font-play: "Play", sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}